@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: #2C5364
}

body {
  width: 100%;
  height: 100%;
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-size: 18px;
  color: #f4ffe0;
  text-shadow: #080808 1px 0 5px;

  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

h1 {
    font-size: 28px;
    color: #FCB941;
    text-decoration: underline;
  }
  
h2 {
    font-size: 22px;
    color: #bfe6ec;
    padding: 5px;
  }

h3 {
    font-size: 18px;
    color: #dde9eb;
    margin: 5px;
  }

  a, a:link, a:visited, a:active {
    text-decoration: none;
    color: #bbf352;
    cursor: pointer;
  }

  a:hover {
    color: #2dad3e;
  }

.wrapp {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

header {
  width: 100%;
  min-height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: #203A43 1px solid;
}

main {
  width: 100%;
  padding: 10px;
  margin: 0px auto;
}

.category {
  width: 1000px;
  margin: 5px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category .item {
  width: 320px;
  margin: 5px;
  padding: 5px;
  background: #074354;
}

.category .item .demoImg {
    width: 300px;
    height: 208px;
    margin: 5px;
    border: #fff 4px solid;
  }

.category .item .demoImg:hover {
    border: #FCB941 4px solid;
    cursor: pointer;
}

.category .item img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
  }

footer {
  width: 100%;
  height: 50px;
  padding: 10px;
 
}

@media screen and (max-width: 1000px) {
    .wrapp {
        width:100%;
    }
    .category {
        width:100%;
    }


  }
